.creation-header {
  font-size: 2.9rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

.picture-grid-item {
  margin-top: 2.8rem;
}

.picture-grid-items {
  display: grid;
  gap: 2rem;
}
