footer {
  background-color: hsl(0, 0%, 0%);
  color: #fff;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

/* footer header */
.footer-socials {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.footer-content-p {
  color: hsl(0, 0%, 41%);
  margin-top: 1.3rem;
}

.footer-header h2 {
  font-family: "Alata", sans-serif;
  /* font-weight: 600; */
}

.footer-header ul li {
  list-style: none;
  margin-top: 15px;
  color: hsl(0, 4%, 82%);
}

/* footer socials */
.icons-socials {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

@media (min-width: 690px) {
  footer {
    /* background-color: red; */

    justify-content: space-between;
    flex-direction: row;
    padding: 50px;
    background-color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .footer-header {
    text-align: left;
    transition: all 0.5s ease;
  }

  .footer-header ul {
    display: flex;
    gap: 0.8rem;
  }

  .links-footer ul li {
    display: inline-block;
    cursor: pointer;
    position: relative;
  }

  .links-footer ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 65%;
    background-color: white;
    transform: translateX(-50%) scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Add transition for transform */
  }

  .links-footer ul li:hover::after {
    transform: translateX(-50%) scaleX(1);
    transform-origin: bottom left;
    background-color: #fff;
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: all 0.5s ease;
  }

  .icons-socials {
    display: flex;
    align-self: flex-end;
    transition: all 0.5s ease;
  }
}
