.showcase {
  display: flex;
  text-align: center;
  /* align-items: center; */
  flex-direction: column-reverse;
}

.showcase h1 {
  font-size: 2.9rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  line-height: 0.8;
  margin-bottom: 1.4rem;
}

.showcase p {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  opacity: 0.5;
}

/* Article PIcture */
.artilce-pic {
  margin-bottom: 3rem;
}

@media screen and (min-width: 650px) {
  .showcase {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5rem;

    position: relative;
  }

  .artilce-pic {
    width: 80%;
    margin-right: 14rem;
    object-fit: fill;
  }

  .cover {
    position: absolute;
    top: 180px;
    left: 46%;
    padding: 95px;

    /* width: 100%; */
    background: #fff;
    text-align: left;
    /* outline: 1px solid red; */
  }
  .article-note {
    margin-top: 3rem;
    max-width: 540px;
    margin-left: -50px;
  }
}
