/* .pictures-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pictures-items h1 {
  font-size: 1.9rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  text-align: left;
  margin-top: 6rem;
  margin-left: 1rem;
}

.deep {
  background: url(../../assets/mobile/image-deep-earth.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  color: #fff;
}

.night {
  background: url(../../assets/mobile/image-night-arcade.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  color: #fff;
}

.soccer {
  background: url(../../assets/mobile/image-soccer-team.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  color: #fff;
}

.grid {
  background: url(../../assets/mobile/image-grid.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  color: #fff;
}

.above {
  background: url(../../assets/mobile/image-from-above.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  color: #fff;
}

.pocket {
  background: url(../../assets/mobile/image-pocket-borealis.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  color: #fff;
}
.curiosity {
  background: url(../../assets/mobile/image-curiosity.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  color: #fff;
}

.fisheye {
  background: url(../../assets/mobile/image-fisheye.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  color: #fff;
} */
